{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}
{% block content %}
<div class="page-header">
    <h1>Edit Training</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>
    <!-- {% if object %}
    <h1>Edit Training</h1>
    {% else %}
    <h1>Add a Training</h1>
    {% endif %}
    <img src="{% static 'images/' %}" alt="">
</div>
<form action="" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
</form> -->

{% endblock content %}