{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}
{% block content %}

<div class="page-header">
    
    {% if training %}
        <h1>Edit Training</h1>
    {% else %}
        <h1>Add Training</h1>
    {% endif %}
        <img src="{% static 'images/training-outline.gif' %}" alt="A horse and rider outline" />
</div>
<form action="" method="post" class="form-container">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
    <button type="submit" class="btn submit">Save Changes</button>
</form>

{% endblock content %}