{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/trainings/training-index.css' %}" />
{% endblock head %}
{% block content %}


<section class="page-header">
    <h1>All Horse Trainings</h1>
    <img src="{% static 'images/training-outline.gif' %}" alt="A horse and rider outline" />
</section>
<section class="card-container">
    
    {% for training in training_list %}
        <div class="card">
            <a href="{% url 'training-detail' training.id %}">
                <div class="card-content">
                    <h2 class="card-title">{{ training.discipline }}</h2>
                    <p>At {{ training.location }}.</p>
                </div>
            </a>
        </div>  
    {% endfor %}   
</section>
{% endblock content %}
    
    