{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-header">
    <h1>Delete Training?</h1>
    <img src="{% static 'images/training-outline.gif' %}" alt="A horse and rider outline">
</div>
<h2>Are you sure you want to delete {{ object.discipline }}?</h2>
<form action="" method="post" class="form">
    {% csrf_token %}
    <a href="{% url 'training-detail' training.id %}" class="btn warn">Cancel</a>
    <button type="submit" class="btn danger">Yes - Delete!</button>
</form>
{% endblock content %}
    