{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/hs-logo-image.png' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Horse Staff</title>
    {% block head %}
    {% endblock head %}
</head>

<body>
    <header>
        <div class="header-logo-container">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/hs-logo-image.png' %}" alt="The Horse Staff Logo" />
            </a>
        </div>
        <nav>
            <ul>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'horse-index' %}">All Horses</a></li>
                <li><a href="{% url 'training-index' %}">All Trainings</a></li>
                <li><a href="{% url 'horse-create' %}">Add a Horse</a></li>
                <li><a href="{% url 'training-create' %}">Add Training</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit">Log out</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'home' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>